@model gbajax.Models.Guestbooks


@using (Html.BeginForm("Create", "Guestbooks"))
{
    <h3>新增留言</h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.CONTENT)
            </td>
            <td>
                @Html.TextBoxFor(model => model.CONTENT)
                @Html.ValidationMessageFor(model => model.CONTENT)
            </td>
        </tr>
    </table>
    <input type="submit" value="新增留言" />


    }


